



.heart{
	position: absolute;
	height: 20px;
	width: 20px;
	background: #c9c9c9;
	display: flex;
	border-radius: 0 0 0 5px;
	transform: rotate(-45deg);
	cursor:pointer;
}

.heart.fill-color{
	background: #ff2727;
}

.heart::before{
	position: absolute;
	content:"";
	top:-50%;
	left:0;
	width:100%;
	height: 100%;
	background: inherit;
	border-radius: 50%;
}

.heart:after {
	position: absolute;
	content: "";
	right: -50%;
	top:0;
	width:100%;
	height: 100%;
	background: inherit;
	border-radius: 50%;
}

.animation-heart{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	background: #ff2727;
	transform: rotate(-45deg);
	border-radius: 0 0 0 5px;
	cursor: pointer;
	visibility: hidden;
}

.animation-heart.animation{
	animation: popup .8s;
	visibility: visible;
}

.animation-heart::after{
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	top:-50%;
	right:0;
	background: inherit;
	border-radius: 50%;
}

.animation-heart:before {
	position: absolute;
	content: "";
	height: 100%;
	width:100%;
	top:0;
	right:-50%;
	background: inherit;
	border-radius: 50%;
}

@keyframes popup{
	100%{
	transform: scale(1.2) rotate(-45deg);
	opacity: 0;
	}
}