@charset "UTF-8";
/*sweet alert 설정*/
.swal2-popup {
/*   font-size: 9px !important; */
   font-family: 'BMJUA' !important;
/*  font-family: 'SuncheonB' !important; */
closeOnClickOutside: false;
}
.swal2-popup .swal2-styled:focus {
    box-shadow: none !important;
}
/*메인,헤더 설정*/
#header_logout {
	margin-right: 20px;
}

/*비밀번호 확인*/
.passtitle{
	font-family: 'SUIT-Medium';
}
.passtitle2{
	font-family: 'SUIT-Medium';
}
#message_cpasswd{ /*새 비밀번호 확인*/
	font-size:9pt;
	font-family: 'SUIT-Medium';
	float:left;
	margin:7px 0 4px 8px;
	margin-left:8px;	
}
.clear{ /*float clear*/
	clear:both;
}
.float_left{
	float:left;
}
.float_right{
	float:right;
}
.no_resize{
	resize: none;
}
#content textarea:focus{
	box-shadow:none !important;
	outline: none !important;
	border:none;
}
#myPageStar{ /*마이코멘트 별점 노랗게*/
	color:#ffa914;
	font-family: 'SUIT-Medium';
	/*텍스트 세로 중앙 정렬*/
	display: flex !important;
	align-items:center !important;
	justify-content:center !important;	
}
#myCal{ /*마이페이지 캘린더 아이콘 살짝 위로*/
	margin-bottom:6px;
}
.align-center{ /*채팅방 게시판 배너 글자 가운데 정렬*/
	top: 34%; 
   margin-top: -50px;
}
/*=====모달-콘텐츠=====*/
#comment-header{
	padding-top:20px;
}
.modal-header .btn-close { /*닫힘버튼css*/
  color:black !important;
	border-radius: 50%;
	background-color:#e3e3e3;
	 width: 10px !important;
    height: 10px !important;
    font-size:7pt !important;
	float: right !important;
    margin-right: 3px !important;
    margin-top: -20px !important;
}
.modal-title2 { /*콘텐츠제목영역*/
	float: left;
	font-size:12pt;
	font-family: 'SUIT-Medium';
}
.modal-comment { 
	width: 500px !important;
	height: 520px !important; /*comment-body속성이 제어*/
	margin: 30px auto !important ;	
	font-size:12pt !important;
}
.modal-comment .modal-content{ /*모서리둥글게*/
	border-radius: 15px !important; 
}
.comment-body{
	height: 410px !important; /*comment_form textarea 영역과 연관*/
	margin-top:-20px;
}
#comment_form textarea{ /*코멘트폼 text영역*/
	font-family: 'SUIT-Medium';
	font-size:12pt;
	 border: none; 
	 width: 400px !important;
	 height: 340px !important; 
	 outline: none !important;
	 resize: none;
}
#commentUpdate_form textarea{/*코멘트수정 text영역*/
	font-family: 'SUIT-Medium';
	font-size:12pt;
	 border: none; 
	 width:  100%;
	 height: 340px !important; 
	 outline: none !important;
	 resize: none;
}
#cmt_delbtn{ /*삭제버튼*/
	float: left;
	padding-top: 6px;
	height: 26px;
	margin-left:12px;
}
#comment_btn{ /*등록,수정버튼*/
	width: 100px;
	float: left; 
	border: none; color:white;font-size:11pt;
	font-family: 'SUIT-Medium';
	margin-left:15px;
}
div #count_area{ /*글자수체크영역*/
	float: left;font-size:10pt;
	color:#7d7d7d;
	text-align:right;	
	height:30px;
	/*텍스트 세로 중앙 정렬*/
	display: flex !important;
	align-items:center !important;
	justify-content:center !important;	
}
.float_right{
	float: right; 
}
.btn-dark-blue { /*버튼style*/
    background: #7474BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
}

/*=====모달-공통, 로그인 및 회원가입=====*/

#myModal{ /*modal 중앙정렬*/
	position: absolute;
   top: 23%; 
   margin-top: -100px;
}
#myModal2{
	position: absolute;
   top: 23%; 
   margin-top: -100px;
}

.modal-login { /*로그인,회원가입 공통(크기조절)*/
	width: 310px !important;
	margin: 50px auto !important ;
	text-align:center !important;
	font-size:12pt !important;
	vertical-align: middle;
}

.sign-logo{ /*헤더 로고 이미지*/
margin-top:18px;
}
.modal-title{ /*헤더 타이틀*/
font-size:12pt;
margin: 13px auto;
font-family: 'BMJUA';
}
.blank_10{
	margin-bottom:10px;
}

input:focus { /*input blue glow 제거*/
    box-shadow:none !important;
}
textarea:focus{
	box-shadow:none !important;
}
/*input 설정*/
/*여백설정*/
.blank{
	margin-bottom:10px;
}
/*placeholder 색상설정*/
#signUp_form input::placeholder {color:#adadad;}
#login_form input::placeholder {color:#adadad;}

#login_form input[type="text"],input[type="password"]{
	font-size:10pt;
	background-color:#f2f2f2;
	font-family: 'SUIT-Medium';
	border: none;
	height:38px;
}
#signUp_form input[type="text"],input[type="password"] {
	font-size:10pt;
	background-color:#f2f2f2;
	font-family: 'SUIT-Medium'; 
	border: none;
	height:38px;
}
input[type="password"] { /*클릭시 bgcolor 에러로 별도 지정*/
   background-color:#f2f2f2 !important;
}
#now_passwd{ 
   padding-left:10px;
}
#new_passwd{ 
   padding-left:10px;
}
#cpasswd{ 
   padding-left:10px;
}
#message_id{ /*중복체크 메시지*/
	font-size:9pt;
	font-family: 'SUIT-Medium';
	float:left;
	margin:4px 0 12px 8px;
	margin-left:8px;
	
}
.sign-btn{ /*제출버튼*/
color:#ffffff !important;
font-family: 'BMJUA';
font-size:12pt;
height:40px;
}
.btn-3 {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

.alter{ /*전환 여부 문구*/
margin: 40px auto 40px;
font-size:10pt;
font-family: 'SUIT-Medium';
color:#a8a8a8 !important;
}
.alter .alter_text{/*로그인-회원가입 전환*/
font-size:10pt;
font-family: 'SUIT-Medium';
}
.alter_text{
color:#10c3eb !important;
text-decoration:none !important;
}
.alter a:hover{ /*hover시에 색상 안변하게*/
	color:#10c3eb !important;
}

.social_login{	
margin: 35px auto !important;
}



/*======폰트=====*/
@font-face { 
    font-family: 'LeferiPoint-BlackA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SuncheonB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SuncheonB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*==========별아이콘 설정 시작==========*/
.star_area { /*별점구역*/
	margin: 0 auto;
	padding-left: 20px;
	/* background-color:blue; */
}
/*별점전체구역(평가하기+별존)*/
.css-1jlb6q {
	width: 228px;
	height: 66px;
	margin: 20px auto 24px;
}

@media ( min-width : 1023px) {
	.css-1jlb6q {
		width: 238px;
		height: 57px;
	}
}

@media ( min-width : 719px) { /*평가하기 구역 너비조정*/
	.css-1jlb6q {
		width: 396px; /*196*/
		height: 51px;
		margin: 0;
	}
}

/* .css-1m7ruyk { 별아이콘전체div


	position: relative;
	text-align: center;
	width: 200px;
	margin: 0 auto;
	cursor: pointer;
	width: 100%;
}*/
.css-1mbuso5 { /*별아이콘하나*/
	display: inline-block;
	position: relative;
	vertical-align: top;
	height: 20px; /*40*/
}

.css-fnwbjg { /*별아이콘svg*/
	vertical-align: top;
	width: 20px; /*40*/
	height: 20px; /*40*/
}

@media ( min-width : 1023px) {
	.css-1m7ruyk {
		width: 190px;
	}
}

@media ( min-width : 719px) {
	.css-1m7ruyk {
		width: 160px;
		margin: 3px auto 0;
	}
}

/* .css-1m7ruyk svg {

	width: 44px;  
	height: 44px; 
	width: 22px; 44
	height: 22px; 44
} */

/*
@media ( min-width : 1023px) {
	.css-1m7ruyk svg {
		width: 44px; 38
		height: 44px; 38
	}
}

@media ( min-width : 719px) { /*별사이즈조절*/
.css-1m7ruyk svg {
	width: 26px; /*32*/
	height: 26px; /*32*/
}

}
* /
.css-1mbuso5 { /*별아이콘하나*/
	display: inline-block;
	position: relative;
	vertical-align: top;
	height: 20px; /*40*/
}

.css-fnwbjg { /*별아이콘svg*/
	vertical-align: top;
	width: 20px; /*40*/
	height: 20px; /*40*/
}

/*==========별아이콘 설정 끝==========*/
.align-center{
	text-align:center;
	margin: 0 auto;
}
.align-right{
	text-align:right;
}
